*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    /* background:linear-gradient(135deg, turquoise, crimson); */
    /* background: radial-gradient(circle, turquoise, white, crimson); */
   
    
}

@keyframes gradientBG {
    0%{ background-position: 0% 50%;}
    50%{ background-position: 100% 50%;}
    100%{ background-position: 0% 50%;}
}


/* header */
.header{
    scroll-margin-top: 70px;
    position: sticky;
    top: 0;
    background-color: #111;
    z-index: 1000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(-45deg, rgb(42, 85, 81), rgb(160, 56, 173), rgb(185, 105, 119), rgb(9, 94, 85));
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite; */

}

nav{
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
    
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}



.my-logo{
    color: crimson;
    text-shadow: -4px 2px turquoise;
    font-size: 2rem;
}

.nav-links li{
    list-style: none;

}

.nav-links li a{
    text-decoration: none;
    position: relative;
    color: white;
    padding: 10px;
    transition: color 0.3s ease;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-links li a:active{
    background-color: #999;
    color: white;
}

nav ul{
    display: flex;
    flex-basis: 50%;
    justify-content: space-around;
}


.nav-links li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: crimson;
    transition: width 0.3s ease;
}

.nav-links li a.active{
    color: turquoise;
}

.nav-links li a:hover::after{
    width: 100%;

    
}


.nav-links li a.active::after{
    width: 100%;
    background: turquoise;
}

.nav-links li a.active:hover::after{
    width: 100%;
}





/* hero */
.hero{
    scroll-margin-top: 70px;
    background: #111;
    display: flex;
    justify-content: space-around;
    min-height: calc(100vh - 55px);
    padding: 2% 2%;
    padding-top: 90px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-box{
    width: 35%;
}


.intro-box h1{
    font-size: 4rem;
    margin-bottom: 40px;

}

.intro-box h1 span{
    color: turquoise;
    text-shadow: -6px 0 crimson;
}

.intro-box p{
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    max-width: 500px;
}

.intro-box p span{
    color: crimson;
    text-shadow: -4px 0 turquoise;
    font-size: 2rem;
    
}

.intro-box a{
    border: 1px solid turquoise;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
    color: turquoise;
    border-radius: 5px;
    transition: 0.15s;
}

.intro-box a:hover{
    background-color: turquoise;
    color: white;
}


.resume-link{
    margin-left: 20px;
}

.myimage img{ 
    width: 400px;
    height: 400px;
    border: 4px solid turquoise;
    border-radius: 50%;
    margin-left: 30px;
}

.myimage img:hover{
    box-shadow: 0 0 20px rgba(64, 224, 208, 0.6);
    transform: scale(1.03);
    transition: 0.3s ease;
}



/* about */
.about{
    padding: 40px 0;
    background: black;
    color: #fff;
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
    scroll-margin-top: 55px;

}
.about.active{
    opacity: 1;
    transform: translateY(0);
}
.about h2{
    color: crimson;
    text-shadow: -4px 0 turquoise;
    text-align: center;
    font-size: 2em;
    margin: 2% 0;
}
.about h2:first-child{
    font-size: 4em;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.skill-box{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 100px);
    gap: 2rem 4em;
    font-size: 1.5rem;
    margin: auto;


}

.skill-box p{
    border: 1px solid turquoise;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: all 0.15s;
    font-weight: bold;
    
}

.skill-box p:hover {
    box-shadow: 0 0 15px turquoise;
    color: turquoise;
}

.project-btn{
    text-decoration: none;
    border: 1px solid crimson;
    color: crimson;
    padding: 15px 20px;
    border-radius: 5px;
    transition: background-color 0.15 ease;
    margin-top: 30px;
    
}

.project-btn:hover{
    color: white;
    background-color: crimson;
}




/* projects */
.projects{
    scroll-margin-top: 70px;
    background: white;
    color: black;
    padding-bottom: 50px;
}
.project-text{
    text-align: center;
     margin-bottom: 40px;
}

.project-intro{
    text-align: center;
    padding-top: 80px;
    font-size: 3em;

   
}


.projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    justify-items: center;
    align-items: start;
    padding: 1rem;

}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    border: 1px solid black;
    width: 100%;
    height: 150px;
    max-width: 400px;
    border-radius: 17px;
    padding: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-card a{
    text-decoration: none;
    color: black;
    width: 10px;
    height: 10px;
    /* padding: 10px; */
    font-size: 1.5rem;
}

.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.project-tag{
    display: flex;
    gap: 1rem;
}

.tag{
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 4px 4px black;
    font-size: 10px;
    font-weight: bold;
    
}

/* contact */
.contact{
    background-color: white;
    color: black;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container{
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.contact h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact p{
    margin-bottom: 40px;
    line-height: 1.6;

}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    text-align: left;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input, textarea{
    width: 90%;
    padding: 12px 15px;
    border: 1px solid turquoise;
    border-radius: 8px;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

textarea{
    max-height: 250px;
    max-width: 90%;
    height: 250px;
}

input:focus, textarea:focus{
    border-color: crimson;
}

.btn{
    background-color: white;
    color: black;
    padding: 12px 15px;
    border: none;
    border: 1px solid crimson;
    border-radius: 8px;
    width: 95%;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: crimson;
    color: white;
}


/* footer */

.footer{
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
    padding: 40px;
}

.footer p{
    width: 650px;
    
}

.copyright{
    font-size: small;
}

.footer a{
    text-decoration: none;
    display: inline;
}



.footer i{
    font-size: 30px;
    color: white;
}

.footer i:hover{
    color: turquoise;
}


.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}













