*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: #111;
}

@keyframes gradientBG {
    0%{ background-position: 0% 50%;}
    50%{ background-position: 100% 50%;}
    100%{ background-position: 0% 50%;}
}


/* header section*/
header{
    scroll-margin-top: 70px;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    overflow-x: hidden;

}

nav ul{
    display: flex;
    flex-basis: 70%;
    justify-content: space-around;
    gap: 2em;
}


nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

i.fa-bars{
    display: none;
}

i.fa-xmark{
    display: none;
}

.my-logo{
    color: crimson;
    text-shadow: -4px 2px turquoise;
    font-size: 2rem;
}
.my-logo {
    text-decoration: none;
}

.nav-links li{
    list-style: none;

}

.nav-links li a{
    text-decoration: none;
    position: relative;
    color: white;
    padding: 10px;
    transition: color 0.3s ease;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-links li a:active{
    background-color: #999;
    color: white;
}

.nav-links li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: crimson;
    transition: width 0.3s ease;
}

.nav-links li a.active{
    color: turquoise;
}

.nav-links li a:hover::after{
    width: 100%;

    
}


.nav-links li a.active::after{
    width: 100%;
    background: turquoise;
}

.nav-links li a.active:hover::after{
    width: 100%;
}

.nav-links a.header-resume-link{
    background-color: crimson;
}



/* hero section*/
.hero{
    scroll-margin-top: 3rem;
    background: black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: calc(100vh - 68px);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;

}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-box{
    display: flex;
    flex-direction: column;
    width: 37%;
    gap: 1rem;
}


.intro-box h1{
    font-size: 4rem;

}

.intro-box h1 span{
    color: turquoise;
    text-shadow: -6px 0 crimson;
}

.intro-box p{
    line-height: 1.5rem;
}

.intro-box p span{
    color: crimson;
    text-shadow: -4px 0 turquoise;
    font-size: 2rem;
    
}

.myimage img{ 
    width: 100%;
    height: 400px;
    border: 4px solid turquoise;
    border-radius: 50%;

}

.myimage img:hover{
    box-shadow: 0 0 20px rgba(64, 224, 208, 0.6);
    transform: scale(1.03);
    transition: 0.3s ease;
}


.icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}


.icons i{
    font-size: 30px;
    color: white;
}

.icons i:hover{
    color: turquoise;
}

.hero-btn{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}


.hero-btn a{
    border: 1px solid turquoise;
    padding: 10px 16px;
    text-decoration: none;
    font-weight: bold;
    color: turquoise;
    border-radius: 5px;
    transition: 0.15s;
}

.hero-btn a:hover{
    background-color: turquoise;
    color: white;
}


.hero-btn a.resume-link{
    background-color: turquoise;
    color: black;
}

.hero-btn a.resume-link:hover{
    background-color: hsl(174, 72%, 36%);
}


/* about section*/
.about{
    padding: 40px 0;
    background: white;
    color: #000;
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
    scroll-margin-top: 55px;
    

}
.about.active{
    opacity: 1;
    transform: translateY(0);
}
.about h2{
    color: crimson;
    text-shadow: -4px 0 turquoise;
    text-align: center;
    font-size: 2em;
    margin: 2% 0;
}

.about .bio{
    font-size: 3em;
}

.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text{
    padding: 0 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-card{
    width: 100%;
    max-width: 400px;
    flex-grow: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px black;
    margin-bottom: 20px;
}

.skill-box{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 150px);
    gap: 4rem;
    width: fit-content;
    align-content: center;
    /* font-size: 1.5rem; */
    margin: auto;


}

.skill-box div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: all 0.15s;
    font-weight: bold;
    border-radius: 10px;
    
}

.skill-box div img{
    width: 100px;
}

.skill-box div:hover {
    box-shadow: 0 0 15px turquoise;
    color: turquoise;
}

.project-btn{
    text-decoration: none;
    border: 1px solid crimson;
    color: crimson;
    padding: 15px 20px;
    border-radius: 5px;
    transition: background-color 0.15 ease;
    margin-top: 30px;
    
}

.project-btn:hover{
    color: white;
    background-color: crimson;
}




/* projects section*/
.projects{
    scroll-margin-top: 70px;
    background: pink;
    color: #000;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.project-text{
    text-align: center;
     margin-bottom: 40px;
}

.project-intro{
    text-align: center;
    padding-top: 50px;
    font-size: 3em;

   
}


.projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    justify-items: center;
    align-items: start;
    padding: 1rem;
    width: fit-content;

}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: #000;
    align-items: start;
    border: 1px solid black;
    width: 100%;
    max-width: 400px;
    gap: 1.3rem;
    border-radius: 17px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-card a{
    text-decoration: none;
    color: black;
    width: 10px;
    height: 10px;
    padding: 10px;
    font-size: 1.5rem;
}

.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(5, 130, 189, 0.3);
}

.project-tag{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag{
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 4px 4px black;
    font-size: 10px;
    font-weight: bold;
    
}

/* contact section*/
.contact{
    background-color: whitesmoke;
    color: black;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container{
    max-width: 700px;
    width: 100%;
    text-align: center;
}

.contact h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact p{
    margin-bottom: 40px;
    line-height: 1.6;

}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-group{
    width: 100%;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input{
    width: 90%;
    padding: 12px 15px;
    border: 2px solid turquoise;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}


textarea{
    max-height: 250px;
    width: 100%;
    max-width: 90%;
    height: 250px;
    color: black;
    border: 2px solid turquoise;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    padding: 10px 15px;
}

textarea::placeholder{
    color: #777;
}

input:focus, textarea:focus{
    border: 2px solid crimson;
}

.form-btn{
    background-color: white;
    color: black;
    padding: 12px 15px;
    border: none;
    border: 1px solid crimson;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 95%;
}

.form-btn:hover{
    background-color: crimson;
    color: white;
}

.form-btn:active{
    background-color: hsl(348, 83%, 57%);
}

/* footer section*/

footer{
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
    padding: 40px;
}

footer p{
    width: 650px;
    
}


.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.footer-links a{
    color: #fff;
}

.copyright{
    font-size: small;
}



@media(max-width: 768px){


    html, body{
        overflow-x: hidden;
    }
    /* header section*/


    header{
        padding: 10px 20px;
        position: fixed;
        max-width: 100vw;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 2000;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: space-between;
        align-items: center;
        /* text-align: right; */
        
    }
    .nav-links{
        display: none;
    }

    .header i.fa-bars, i.fa-xmark{
        display: block;
        color: white;
        font-size: 22px;
        margin: 10px;
    }

    

    
    #navMenu{
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        max-width: 320px;
        display: flex;
        background-color: rgb(47, 158, 233);
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: 0.4s ease;
        z-index: 999;
    }

    #navMenu.open-menu {
        transform: translateX(0);
    }

    #navMenu ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        gap: 3rem;
    
    }

    #navMenu .fa-xmark{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.8rem;
    }

    

    .my-logo{
        font-size: 20px;
    }

    /* hero section*/
    
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 2em;
        min-height: 100vh;
        padding: 4.1rem 2rem 2rem 2rem;
    }
    .hero-btn{
        font-size: 2rem;
        gap: 1rem;
    }
    .myimage img{ 
        width: 100%;
        max-width: 350px;
        height: auto;
        border: 4px solid turquoise;
        border-radius: 50%;
    }
    .myimage{
        order: 1;
    }
    .myimage img{
        margin-left: 0;
    }
    
    .intro-box{
        width: 100%;
        order: 2;
    }
    .intro-box h1{
        font-size: 30px;
    }

    .intro-box a{
        font-size: small;
    }

    /* about section*/
    .about{
        scroll-margin-top: 30px;
    }
    .about h2:first-child{
        font-size: 27px;
    }
    .about-text{
        padding: 25px;
        width: 100%;
        flex-direction: column;
    }

    .skill-box{
        display: grid;
        grid-template-columns: repeat(2, 80px);
        grid-template-rows: repeat(5, 80px);
    }
    .skill-box p{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: small;
    }

    /* projects section*/
    .projects{
        scroll-margin-top: 30px;
    }
    .projects-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .project-card{
        padding: 20px 10px;
        gap: 7px;
        width: 320px;
    }

    .project-tag .tag{
        font-size: 10px;
    }

    /* contact section*/
    form .contact-form{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    /* footer section*/
    footer{
        gap: 20px;
    }
    footer p{
        width: 300px;
        padding: 10px;
    }

}










